/ In div task_page
/ For every task in @tasks
/   if the task is a leaf task
/     display in class task_leaf div
/   else if it has subtasks
/     display in class task_node div

.task_page
  .title_bar   
    %a{:href => @back}
      %span.link Back
    %span.title= @title || 'Tasks'
    %span.link Add
    
  - @tasks.each do |t|
    - if t.leaf?
      .task_leaf
        .task_name= t.name
        .task_state= t.selected_state.name if t.selected_state
    - else
      .task_node
        .task_name= t.name
        %a{:href => "/group/#{t.group.code}/task/#{t.id}/children"}
          .task_count= "#{t.children.size} subtasks"
