/ In div task_page
/ For every task in @tasks
/   if the task is a leaf task
/     display in class task_leaf div
/   else if it has subtasks
/     display in class task_node div

.container
  %nav.span-24.last
    .span-4.append-2
      %a{:href => @back} Back
    .span-4.prepend-2.append-2
      %h2.title= @title || 'Tasks'
    .span-4.prepend-2.append-3.last
      %a{:href => @add_task} Add

.container
  %ul.task_list
    - @tasks.each do |t|
      %li.task_container
        .task_node
          - if t.leaf?
            %h3.task_name= t.name
            - unless t.states.empty?
              %form.task_state
                %select.styled.state_select{:name => "states"}
                  - t.states.each do |s|
                    %option{:value => s.name}= s.name
          - else
            %h3.task_name= t.name
            %a{:href => "/group/#{t.group.code}/task/#{t.id}/children"}
              .task_count= "#{t.children.size} subtasks"
