/ In div task_page
/ For every task in @tasks
/   if the task is a leaf task
/     display in class task_leaf div
/   else if it has subtasks
/     display in class task_node div

.container
  %nav.span-24.last
    .span-8
      %a{:href => @back} Back
    .span-8.title= @title || 'Tasks'
    .span-8.last Add

.container  
  - @tasks.each do |t|
    - if t.leaf?
      .task_leaf
        %h3.task_name= t.name
        .task_state= t.selected_state.name if t.selected_state
    - else
      .task_node
        %h3.task_name= t.name
        %a{:href => "/group/#{t.group.code}/task/#{t.id}/children"}
          .task_count= "#{t.children.size} subtasks"
